section {
	border: 2px solid LightSkyBlue;
	padding: 5px;
	margin-botton: 5px;
}

h1 {
	font-family: Helvetica;
	margin:0;
}

p {
	font-family: Garamond;
	color: DarkSlateGray;
	
}

.onSale {
	background-color: rgba(71, 255, 50, .33);
}

#monthlyBestSeller {
	font-size: 18px;
}